@{
    Layout = "_Layout";
}

<div>
    <partial name="PartialView/_SliderPartialView" />

    <section>
        <div class="container">
            <div class="row">
                <partial name="PartialView/Main/_CategoryPartialView" />


                <div class="col-sm-9 padding-right">

                    <partial name="PartialView/Main/_FeaturesItemPartialView" />
                   
                    <partial name="PartialView/Main/_CategoryTabPartialView" />

                    <partial name="PartialView/Main/_RecommenedItemPartialView" />

                </div>
            </div>
        </div>
    </section>
</div>