<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Home | E-Shopper</title>
    <link href="../../AccessClothes/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../AccessClothes/css/font-awesome.min.css" rel="stylesheet">
    <link href="../../AccessClothes/css/prettyPhoto.css" rel="stylesheet">
    <link href="../../AccessClothes/css/price-range.css" rel="stylesheet">
    <link href="../../AccessClothes/css/animate.css" rel="stylesheet">
	<link href="../../AccessClothes/css/main.css" rel="stylesheet">
	<link href="../../AccessClothes/css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="../../AccessClothes/js/html5shiv.js"></script>
    <script src="../../AccessClothes/js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="../../AccessClothes/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../../AccessClothes/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../../AccessClothes/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../../AccessClothes/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../../AccessClothes/images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body>
	<div class="" >

		<partial name="PartialView/_HeaderPartialView" />

        <main role="main">
            @RenderBody()
        </main>
	
		<partial name="PartialView/_FooterPartialView" />
	</div>

  
</body>
<script src="../../AccessClothes/js/jquery.js"></script>
<script src="../../AccessClothes/js/bootstrap.min.js"></script>
<script src="../../AccessClothes/js/jquery.scrollUp.min.js"></script>
<script src="../../AccessClothes/js/price-range.js"></script>
<script src="../../AccessClothes/js/jquery.prettyPhoto.js"></script>
<script src="../../AccessClothes/js/main.js"></script>
</html>

@await RenderSectionAsync("Scripts", required: false)

